<h2>Sign up</h2>

<div class="col-md-6 whitespace-bottom">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name, html: {class: 'form-horizontal'})) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-group">
    <%= f.input :email, required: true, class: "form-control" %>
    <%= f.input :password, required: true, class: 'form-control' %>
    <%= f.input :password_confirmation, required: true, class: 'form-control' %>
    <%= f.input :username, required: true, class: 'form-control' %> This will be public.
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>

<div class='col-md-6 whitespace-bottom'>
  <h1>pho <%= fa_icon "circle", class: 'cir-md' %> ti <%= fa_icon "circle", class: 'cir-md' %>  di <%= fa_icon "circle", class: 'cir-md' %> an</h1>
  <h3>pho <%= fa_icon "circle", class: 'cir-xxs' %> to + quo <%= fa_icon "circle", class: 'cir-xxs' %> ti <%= fa_icon "circle", class: 'cir-xxs' %> di <%= fa_icon "circle", class: 'cir-xxs' %> an</h3>
  <h4><%= fa_icon 'photo' %> n. a photograph + <%= fa_icon 'calendar' %> n. of or occurring every day</h4>
    </div>
