<%= javascript_include_tag 'photos' %>

<% if (@user.private? == true) && (@user != current_user) %>
  <h3>Sorry, this user's profile is private. Please choose another user!</h3>
<% end %>

<div id='user-profile' class='col-md-4'>
  <div class='user-text-profile'>
    <% if @user.first_name == nil %>
      <h3><%= @user.username %></h3>
    <% else %>
      <h3><%= @user.first_name %></h3>
      <p><%= @user.username %></p>
    <% end %>

    <% if @user.location != nil %>
      <p><%= @user.location %></p>
    <% end %>

    <% if @user.bio != nil %>
      <p><%= @user.bio %></p>
    <% end %>

    <% if @user == current_user %>
      <%= link_to 'Edit Profile', edit_user_registration_path %>
    <% end %>
  </div><!-- end user-text-profile -->

  <div id='followers-button-wrapper'>
    <% unless current_user == @user %>
      <div id="follow-form">
      <% if current_user.following?(@user) %>
        <%= render 'unfollow' %>
      <% else %>
        <%= render 'follow' %>
      <% end %>
      </div>
    <% end %>
  </div>

  <div class='user-avatar'>
    <%= image_tag @user.avatar.url(:medium), class: 'user-avatar-wrapper' %>
  </div>

  <div id='view-followers-button'>
    <h4><%= @user.username %>'s Followers: </h4>
      <% @user.followers.each do |follower| %>
        <div><%= image_tag follower.avatar.url(:thumb), class: 'user-relationship-thumb' %> <%= link_to follower.username, user_path(follower.id) %></div>
      <% end %>
  </div><!-- view-followers-button -->

</div> <!-- end user-profile -->

<div class='col-md-6'>

  <div id="loading-photos">
    <p>Loading photos, please wait...</p>
  </div>
  <div class="slideshow-button">
    <button id="start" class='btn btn-primary'>Start Slideshow</button>
  </div>
  <!-- begin display photos from s3 -->
  <div id='user-camera-photos' class='whiteout'>
    <% @display_photos.map do |database_key, photo| %>
      <%= div_for database_key do %>
        <%= database_key.created_at.to_formatted_s(:long_ordinal) %>
        <img src="<%= photo %>", class: 'img-wrapper whiteout' %>
      <% end %>
    <% end %>
  </div><!-- end display photos from s3 -->

  <div class="user-photos-index">
    <h4><%= @user.username %> has taken photos on: </h4>
    <ul>
    <% @user.photos.each do |photo| %>
      <li><%= link_to photo.created_at.to_formatted_s(:long_ordinal), photo %></li>
    <% end %>
    </ul>
  </div>

  <div id="#following-modal">
    <%= render :template => 'users/_following' %>
  </div>
</div><!-- end col-md-6 -->
