<!-- <div id="welcome">
  <%#= render :template => 'users/_welcome' %>
</div> -->

<div id='user-profile' class='col-md-4'>
  <div class='user-text-profile'>
    <% if @user.first_name == nil %>
      <h3><%= @user.username %></h3>
    <% else %>
      <h3><%= @user.first_name %></h3>
      <p><%= @user.username %></p>
    <% end %>

    <% if @user.location != nil %>
      <p><%= @user.location %></p>
    <% end %>

    <% if @user.bio != nil %>
      <p><%= @user.bio %></p>
    <% end %>
  </div>

  <div id='followers-button-wrapper'>
    <% unless current_user == @user %>
      <div id="follow-form">
      <% if current_user.following?(@user) %>
        <%= render 'unfollow' %>
      <% else %>
        <%= render 'follow' %>
      <% end %>
      </div>
    <% end %>

    <%= button_tag 'Followers', data: { toggle: 'modal', target: '#followers-modal' }, method: :get, id: 'followers-button', class: 'btn btn-default' %>
  </div>

  <div class='user-avatar'>
    <%= image_tag @user.avatar.url(:medium), class: 'user-avatar-wrapper' %>
  </div>

  <% if @user == current_user %>
    <%= link_to 'Edit Profile', edit_user_registration_path %>
  <% end %>

</div> <!-- end user profile -->

<!-- begin display photos from s3 -->
<div id='user-camera-photos' class='col-md-8'>
  <% @display_photos.map do |key, photo| %>
    <%= div_for key do %>
      <div class='photo-created-at'>
        <%= key.created_at.to_formatted_s(:long) %> - <%= link_to 'More Information', key %>
      </div>
      <img src="<%= photo %>", class: 'img-wrapper' %>
    <% end %>
  <% end %> <!-- end display photos from s3 -->

</div>

<div id="#followers-modal">
  <%= render :template => 'users/_followers' %>
</div>

<div id="#following-modal">
  <%= render :template => 'users/_following' %>
</div>
