<h3><%= @user.first_name %></h3>
<p><%= @user.username %></p>

<% if @user == current_user %>
<%= link_to 'Edit Profile', edit_user_registration_path %>
<% end %>

<div>
  <%= image_tag @user.avatar.url(:medium), class: 'user-profile' %>
</div>

<% @user_photos.each do |photo| %>
  <p><img src="<%= photo %>"></p>
<% end %>
