<div id='sign-in-modal' class='modal'>
  <div id='sign-up-content' class='content'>No JavaScript Yet!</div>
  <a href='#' id='close'>close</a>
  <div class="modal-header">
      <h2>Sign in</h2>
  </div>
    <div class="modal-body modal-body-authentication">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
        html: { class: 'form-inline' },
        wrapper_mappings: { boolean: :vertical_boolean
      }) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign in" %>
        </div>
      <% end %>
    </div>
  <div class="modal-footer left-align">
    <%= render "devise/shared/links" %>
  </div>
</div>
