<div id="index">
  <div class="photodian-about">
    <h2><%= fa_icon "camera-retro" %> n. a photo a day</h2>
    <h3>pho <%= fa_icon "circle", class: 'cir-xxs' %> to + quo <%= fa_icon "circle", class: 'cir-xxs' %> ti <%= fa_icon "circle", class: 'cir-xxs' %> di <%= fa_icon "circle", class: 'cir-xxs' %> an</h3>
    <h4><%= fa_icon 'photo' %> n. a photograph + <%= fa_icon 'calendar' %> n. of or occurring every day</h4>
    <button id="get-started" class='btn btn-primary'>Take Your First Photo</button>
  </div>
</div>

  <script type="text/template" id="buttons-template">
    <div id="allow-access">
      <p>Please allow photidian to access your camera.</p>
    </div>
    <div class='buttons'>
      <button id='take-photo' class='btn btn-primary'><%= fa_icon "camera-retro" %> Take Photo!</button>
      <button id='upload-button' class='btn btn-primary'>Use this photo for <%= Date.today.to_formatted_s(:long) %>.</button>
    </div>
  </script>

  <div class="video-canvas col-md-6">
    <video id='vid' width ='500' height='375'></video>
  </div>

  <div class="snapshot col-md-6">
    <canvas id='can' width ='500' height='375'></canvas>
    <img src="" id="photo">
  </div>

  <div class="tags-list">
  </div>

  <div id="#s3-save">
    <%= render :template => 'photos/_modal' %>
  </div>

