<%= javascript_include_tag 'start' %>

<div id="overlay" class="hide"></div>

<div id="nav-wrapper">
  <%= render 'layouts/about' %>
</div>

<div id="index" class="pure-u-5-5">
</div><!-- end index -->

<script type="text/template" id="take-photo-template">
  <div class="centered">
    <% if current_user %>
      <% if @date_last_photo_today == false %>
      <%# if @date_last_photo_today == true %>
        <button id="get-started" class='pure-button pure-button-primary'>Ready for your close up?</button>
      <% else %>
        <div class="taken-today">You have already taken a photo today. Why not <%= link_to "look for people to follow", users_path %>?</div>
      <% end %>
    <% else %>
      <div class="icon"><%= fa_icon "camera-retro" %></div>
    <% end %>
  </div>
</script>

<script type="text/template" id="buttons-template">
  <div id="allow-access" class="error-handler-style">
    <p>Please allow photidian to access your camera.</p>
  </div>
  <div class='buttons centered'>
    <button id='take-photo' class='pure-button pure-button-primary'><%= fa_icon "camera-retro" %> Take Photo!</button>
    <button id='upload-button' class='pure-button pure-button-primary'>Use this photo for <%= Date.today.to_formatted_s(:long) %>.</button>
  </div>
</script>

<script type="text/template" id="error-handler">
  <div id="photo-error" class="error-handler-style">
    <p>Please take a photo to continue.</p>
    </div>
</script>

<script type="text/template" id="video-canvas-template">
  <div class="video-canvas">
    <video id='vid' width ='500' height='375'></video>
    <div class="snapshot">
      <div class='hide'><canvas id='can' width ='500' height='375'></canvas></div>
      <img src="" id="photo">
    </div>
  </div>

</script>

<div class="tags-list">
</div>

<script type="text/template" id="sign-up-template">
  <%= render template: 'devise/registrations/new' %>
</script>

<script type="text/template" id="sign-in-template">
  <%= render template: 'devise/sessions/new' %>
</script>

<script type="text/template" id="users-list-template">

</script>
