<%= javascript_include_tag 'start' %>

<div id="nav-wrapper">

    <script type="text/template" id="about-template" class="hide">
      <div class="photodian-about centered">
        <h4><%= fa_icon "camera-retro" %> n. a photo a day</h4>
        <h3>pho <%= fa_icon "circle", class: 'cir-xxs' %> to + quo <%= fa_icon "circle", class: 'cir-xxs' %> ti <%= fa_icon "circle", class: 'cir-xxs' %> di <%= fa_icon "circle", class: 'cir-xxs' %> an</h3>
        <h4><%= fa_icon 'photo' %> n. a photograph + <%= fa_icon 'calendar' %> n. of or occurring every day</h4>
      </div>
      <div class='about-photidian-desc'>
        <p>The average laptop/desktop owner spends five hours or more per day in front of a computer screen. Photidian is a visual diary of those hours- take a photo with your webcam every day and document your life in front of the computer. You can view your photos by date or in a slideshow for a time-lapse effect.</p>
        <p>View the source code on <a href="https://github.com/alexshook/photidian">GitHub</a></p>
      </div>
    </script>

</div>

<div id="index">
</div><!-- end index -->

<script type="text/template" id="take-photo-template">
  <div class="centered">
    <% if current_user %>
      <% if @date_last_photo_today == false %>
      <%# if @date_last_photo_today == true %>
        <button id="get-started" class='btn btn-primary'>Ready for your close up?</button>
      <% else %>
        <div class="taken-today">You have already taken a photo today. Why not <%= link_to "look for people to follow", users_path %>?</div>
      <% end %>
    <% else %>
      <div>Please <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> to continue.</div>
      <div class="icon"><%= fa_icon "camera-retro" %></div>
    <% end %>
  </div>
</script>

<script type="text/template" id="buttons-template">
  <div id="allow-access" class="error-handler-style">
    <p>Please allow photidian to access your camera.</p>
  </div>
  <div class='buttons centered'>
    <button id='take-photo' class='btn btn-primary'><%= fa_icon "camera-retro" %> Take Photo!</button>
    <button id='upload-button' class='btn btn-primary'>Use this photo for <%= Date.today.to_formatted_s(:long) %>.</button>
  </div>
</script>

<script type="text/template" id="error-handler">
  <div id="photo-error" class="error-handler-style">
    <p>Please take a photo to continue.</p>
    </div>
</script>

<script type="text/template" id="video-canvas-template">
  <div class="video-canvas">
    <video id='vid' width ='500' height='375'></video>
  </div>

  <div class="snapshot">
    <div class='hide'><canvas id='can' width ='500' height='375'></canvas></div>
    <img src="" id="photo">
  </div>
</script>

<div class="tags-list">
</div>
<!--
<div id="#s3-save">
  <%= render :template => 'photos/_modal' %>
</div> -->
