<h2><%= link_to @photo.user.username, @photo.user %> on <%= @photo.created_at.to_formatted_s(:long) %></h2>

<img src="<%= @display_photo %>">

<%= form_tag "/tags/add" do %>
  <%= select_tag "tags", options_from_collection_for_select(@tags, "id", "name") %>
  <%= hidden_field_tag "photo", @photo.id %>
  <%= submit_tag "Tag this Photo" %>
<% end %>

<% if @photo.tags.length != 0 %>
Tagged:
  <% @photo.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
<% end %>
