<div class="container-fluid">
  <div class="navbar-main">
    <div class="top-nav">
      <div class="top-nav-brand">pho <%= fa_icon "circle", class: 'cir-lg' %> ti <%= fa_icon "circle", class: 'cir-lg' %>  di <%= fa_icon "circle", class: 'cir-lg' %> an</div>
      <h4><%= fa_icon "camera-retro" %> n. a photo a day</h4>
    </div>
    <% if current_user %>
      <ul>
        <li><%= link_to "My Photos", user_path(current_user.id) %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: 'delete' %></li>
      </ul>
    <% end %>
  </div><!-- navbar-main -->
</div><!-- end container-fluid -->
