<!DOCTYPE html>
<html>
<head>
  <title>Photidian</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!-- // <script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc.15.min.js"></script> -->
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <!-- call the navbar -->
  <%= render 'layouts/navbar' %>
  <!-- flash notice and alert for devise -->
  <% if notice %>
      <p class="notice alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <!-- display the jumbotron only on index page -->
  <% if current_page? root_path %>
  <div class="jumbotron">
    <div class='index-page'>
      <h1>pho <%= fa_icon "circle", class: 'cir-small' %> ti <%= fa_icon "circle", class: 'cir-small' %>  di <%= fa_icon "circle", class: 'cir-small' %> an</h1>
      <h2><%= fa_icon "camera-retro" %> n. a photo a day</h2>
      <h3>pho <%= fa_icon "circle", class: 'cir-xxs' %> to + quo <%= fa_icon "circle", class: 'cir-xxs' %> ti <%= fa_icon "circle", class: 'cir-xxs' %> di <%= fa_icon "circle", class: 'cir-xxs' %> an</h3>
      <h4><%= fa_icon 'photo' %> n. a photograph + <%= fa_icon 'calendar' %> n. of or occurring every day</h4>
    </div>
  </div> <!-- end jumbotron -->
  <% end %>
  <!-- regular bootstrap container -->
  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
