<!DOCTYPE html>
<html>
<head>
  <title>Photidian</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc.15.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- call the navbar -->
  <%= render 'layouts/navbar' %>
  <!-- flash notice and alert for devise -->
  <% if notice %>
      <p class="notice alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <!-- display the jumbotron only on index page -->
  <% if current_page? root_path %>
  <div class="jumbotron">
    <div class="container">
      <img src="http://placekitten.com/620/440">
      <h2>Share your story with the world.</h2>
    </div>
  </div>
  <% end %>
  <!-- regular bootstrap container -->
  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
